.header {
  display: flex;
  align-items: center;
  gap: var(--spacing-m);
  margin-bottom: var(--spacing-l);
}

.title {
  margin: 0;
}

.input {
  border-color: transparent;
  box-shadow:
    0 0 0 1px var(--color--focus--border),
    0 0 0 4px var(--color--focus--outline);
}

.editing .input {
  transform: translateX(var(--spacing-s));
}

.buttonList {
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
  transition: transform 0.2s ease-in-out;
}

.editing .buttonList {
  transform: translateY(var(--spacing-m));
}

.editingText {
  color: var(--color--ink-subtle);
}

.button {
  border: none;
  background: none;
  padding: 0;
  color: var(--color--ink-link);
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.deleteButton {
  color: var(--color--ink-danger);
}

.svgLogo {
  line-height: 0;
}

.svgLogo svg {
  width: 5rem;
  height: 5rem;
}

.rawCode {
  white-space: pre-wrap;
  margin: 0;
  padding: var(--spacing-m);
  color: var(--color--code--ink);
  background: var(--color--code--surface);
  border-radius: 4px;
  font-family: var(--monospaced-font-family);
  font-size: var(--font-size-s);
  line-height: 1.4;
}
